<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
.container {
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
  }

  .center {
    text-align: center;
    margin-top: 10px;
  }

  button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
  }
  </style>
</head>
<body>
<header>
  <h1>New/Edit post</h1>
</header>
<div class="container">
  <h1>New Post</h1>
  <form th:action="@{/savepost}" th:object="${post}" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" placeholder="title" th:field="*{title}">

<!--  <label for="tags">Tags:</label>-->
<!--  <input type="text" id="tags" name="tags" th:field="*{tags}">-->

  <label for="author">Author Name:</label>
  <input type="text" id="author" name="author" th:field="*{author}">

  <label for="content">Content:</label>
  <textarea id="content" name="content" rows="8" th:field="*{content}"></textarea>

  <div class="center">
    <button id="publish-button">Publish</button>
  </div>
</form>
</div>
</body>
</html>